<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mits.kakaroto.listmovieapp">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".session.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".session.DashboardActivity"></meta-data>
        </activity>

        <activity
            android:name=".fitur.movie.FormMovieActivity"
            android:label="Form Movie">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity">
            </meta-data>
        </activity>


        <activity android:name=".session.LoginActivity">
        </activity>

        <activity
            android:name=".main.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".fitur.user.RegisterUserActivity"
            android:label="Register">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".session.DashboardActivity">
            </meta-data>

        </activity>

        <activity
            android:name=".session.DashboardActivity"
            android:label="Dashbord"></activity>

        <activity
            android:name=".fitur.user.UpdateUserActivity"
            android:label="Update User">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".session.DashboardActivity"></meta-data>
        </activity>

    </application>

</manifest>